/* For the settings icon */
#icon-badgeos_badgeos {
	background-image: url('../images/badgeos_screen_icon.png');
}

/* For the Triggers UI */
li.step-row {
	background:#fff;
	border-radius: 5px;
	border: 1px solid #DDD;
	padding: 5px 10px;
}
li.step-row .step-handle {
	display: block;
	background:url( '../images/ui_handle.png' );
	width:7px;
	height:4em;
	margin:5px 10px 5px 0;
	position: relative;
	float: left;
}
li.step-row .required-duration {
	text-align: right;
}
li.step-row .step-title {
	display: block;
	padding-top:5px;
}
li.step-row .title {
	width:300px;
}
li.step-row .delete-step {
	position: relative;
	float: right;
	line-height:4.5em;
}

/* User Profile Area */
.badgeos-table tr {
	/*padding: 5px 10px;*/
}
.badgeos-table th {
	font-weight: bold;
	padding: 8px 10px;
	text-transform: uppercase;
}
.badgeos-table a.error {
	color: #a00;
}

/* License Settings */
.badgeos-license-status {
	background: #eee;
	color: #333;
	padding: 3px 8px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.badgeos-license-status.invalid,
.badgeos-license-status.failed {
	background: #faa;
	border-color:#a55;
	color:#a00;
}
.badgeos-license-status.valid,
.badgeos-license-status.active {
	background: #ac7;
	border-color:#7a5;
	color:#250;
}

/* Add-ons page */
.badgeos-addons .addon {
	display: block;
	background: #fafafa;
	border: 1px solid #eee;
	padding: 1em;
	margin: 0 1em 1em 0;
	min-width: 200px;
	max-width: 25%;
	position: relative;
	float: left;
}
.badgeos-addons .addon:nth-child(3n+4) {
	clear: both;
}
.badgeos-addons .addon .thumbnail-link {
	display: block;
	margin:0 auto;
	width: 200px;
	height: 200px;
	text-align: center;
}
.badgeos-addons .addon img {
	max-width: 100%;
}

/*
Shortcode Embed styles
 */
.wp-core-ui a.badgeos_media_link, .wp-core-ui a.badgeos_media_link:hover {
	background: url('../images/badgeos_icon.png') 4% 50% no-repeat;
	padding-left: 1.8em;
}
.badgeos_input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	width: 50%;
}
.badgeos_input > div {
	margin: 5px 0;
}
#shortcode_options {
	margin-top: 10px;
	min-height: 100%;
	overflow: auto;
	padding-top: 10px;
	width: 100%;
}
#shortcode_options label {
	font-weight: bold;
}
#shortcode_options span {
	font-style: italic;
}
.odd {
	clear: both;
}
.clear {
	clear: both;
}
.select2-container {
	width: 100%;
}
#select2-drop {
	z-index: 100051;
}
#delete_log_entries {
	margin: 2px 8px 0 0;
}
.delete-log-entries.notice img {
	vertical-align: middle;
}
.social_buttons ul li a i.btm_facebook {
    background:url(../images/facebook-white-60_hvr.png) no-repeat center center;
}
.social_buttons ul li a i.btm_twitter {
    background:url(../images/ttwitter-white-60_hvr.png) no-repeat center center;
}

.social_buttons ul li a i.btm_linkedin {
    background:url(../images/linkedin-white-60_hvr.png) no-repeat center center;
}
.social_buttons ul li:hover a i.btm_facebook {
	/* background:url(../images/ffacebook-white-60.png) no-repeat center center; */
	border:1px solid #ccc;
}
.social_buttons ul li:hover a i.btm_twitter {
	/* background:url(../images/ttwitter-white-60.png) no-repeat center center; */
	border:1px solid #ccc;
}
.social_buttons ul li:hover a i.btm_linkedin {
	/* background:url(../images/linkedin-white-60.png) no-repeat center center; */
	border:1px solid #ccc;
}
.social_buttons  ul li {
	float: left;
	width: 20px;
	text-align: center;
	list-style-type: none;
}
.social_buttons ul li a i {
	background-size: 100% auto !important;
	display: inline-block;
	height: 33px;
	width: 20px;
	position:relative;
	top:3px;
}
	
.social_buttons ul li:first-child {
	border-radius:3px 0 0 3px;
}
.social_buttons {
	display: block;
	clear: both;
	float: right;
}
.share-column{
	float: right;
	width: 100%;
	padding-right: 10px;
}  
.link-column label {
	display: block;
}
.link-column input {
	display: block;
	width: 100%;
}
.link-column{
	padding-top: 16px;
	float: left;
	width:98%;
}  

.open_badge_share_box_id {
	padding: 10px;
	background: #ccc;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .open_badge_share_box_id h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
	margin-bottom: 5px;
  }
  .open_badge_share_box_id .close {
	position: absolute;
	top: 0px;
	right: 9px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .open_badge_share_box_id .close:hover {
	color: #06D85F;
  }
  .open_badge_share_box_id .content {
	max-height: 30%;
	overflow: auto;
	border-top: 1px solid;
  }
  .badgeos-share-card{
	width: 100% !important;
  }
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }